<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="no.javatime.lang.design.Activator"
               id="no.javatime.lang.design"
	       name="model">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="no.javatime.lang.design.OpenEmbeddedEditor"
           id="no.javatime.lang.design.OpenEmbeddedEditor">
     </javaActions>
  </extension>
</plugin>
